* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --dasa-azul-escuro: #000e40;
  --dasa-azul-claro: #a6e1ff;
  --dasa-vermelho: #ff4e33;
  --dasa-branco: #ffffff;
  --dasa-azul: #0037ff;
  --dasa-azul-hover: #2f5af6;
  --dasa-amarelo: #e5ff00;
  --dasa-bege: #d1b287;
  --verde: #28a745;
  
  --noturno-fundo: #202123;
  --noturno-container: #2a2b2e;
  --noturno-texto: #ececf1;
  --noturno-texto-secundario: #a9a9b3;
  --noturno-verde: #10a37f;
  --noturno-verde-hover: #0e8a6c;
  --noturno-azul: #1e90ff;
  --noturno-azul-hover: #1c7ed6;
  --noturno-borda: #3e3f4b;
  --noturno-input: #313133;
  --noturno-assinatura:  #5e5e61;
  --noturno-borda-escura: 1px solid #515151;
}

body{
    background-color: var(--dasa-azul-claro);
}

body.Noturno {
  background-color: var(--noturno-fundo);
  
}


.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--dasa-branco);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

body.Noturno .container{
    background-color: var(--noturno-container);
}

.logoAndTitulo {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  .logoSonda {
    max-width: 150px;
    height: auto;
  }
  
  h1 {
    font-size: 33px;
    margin: 0; 
    margin-top: 10px;
    text-align: center; 
    flex-grow: 1; /* Faz o título ocupar o espaço restante entre as logos */
  }
  
  .logoDasa {
    max-width: 140px;
    height: auto;
    margin-bottom: 20px;
  }

#form-rat {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--dasa-branco);
    padding: 20px;
    border: 1px solid #000;
}

body.Noturno #form-rat{
    background-color: var(--noturno-container);
    border: 1px solid rgba(255, 255, 255, 0.414); 
    
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
body.Noturno input{
    background-color: var(--noturno-input);
    color: var(--dasa-branco);
    border:var(--noturno-borda-escura)
}

.textAreaProblema, .textAreaRealizado{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

body.Noturno .textAreaProblema, 
body.Noturno .textAreaRealizado{
    background-color: var(--noturno-input);
    color: var(--dasa-branco);
    border:var(--noturno-borda-escura)
}

#Problema, #Realizada {
    height: 150px;  
    font-size: 16px; 
    resize: none;  
}
body.Noturno #Problema, 
body.Noturno #Realizada {
    background-color: var(--noturno-input);
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
body.Noturno label{
    color: var(--dasa-branco)
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

body.Noturno h1{
    color: var(--dasa-branco)
}


.checkbox-tipo-atendimento,
.tipo-equipamento {
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
}

body.Noturno .checkbox-tipo-atendimento,
body.Noturno .tipo-equipamento{
    background-color: var(--noturno-input);
    color: var(--dasa-branco);
    border:var(--noturno-borda-escura)
}

.checkbox-tipo-atendimento label,
.tipo-equipamento label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
}

body.Noturno .checkbox-tipo-atendimento label, 
body.Noturno .tipo-equipamento label {
    background-color: var(--noturno-input);
    color: var(--dasa-branco);
}

#Assinatura {
    width: 100%;
    max-width: 700px; 
    height: 150px;/*  Para alterar o tamanho eu preciso alterar o tamanho no arquivo Assinatura.jsx, se eu nao alterar o tamanho lá ele buga */
    border: 2px solid #ccc;  
    border-radius: 12px;     
    margin-top: 10px;         
    background-color: #f9f9f9; 
}

body.Noturno #Assinatura {
    background-color: var(--noturno-assinatura);
    border:var(--noturno-borda-escura)
}

#Limpar {
    display: block;
    margin: 20px 0 10px;
    padding: 8px 30px;
    background-color: var(--dasa-azul);  
    color: var(--dasa-branco);               
    border: none;
    border-radius: 5px;        
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#Limpar:hover {
    background-color: var(--dasa-azul-hover);
}

#Gerar-PDF {
    display: block;
    margin: 10px 0;
    padding: 8px 30px;
    background-color: var(--verde);
    color: var(--dasa-branco);               
    border: none;
    border-radius: 5px;         
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#Gerar-PDF:hover {
    background-color: #218838;
}

#compartilhar{
    display: block;
    margin: 10px 0;
    padding: 8px 30px;
    background-color: var(--dasa-azul);  
    color:var(--dasa-branco);               
    border: none;
    border-radius: 5px;         
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#compartilhar:hover{
    background-color: var(--dasa-azul-hover);
}

.campo-colab{
    text-align: center; 
    font-weight: bold;  
    font-size: 16px;
}
body.Noturno .campo-colab{
    color: var(--dasa-branco);
}


hr{
    border: none;
    border-top: 1px solid #817f7f;
    margin: 20px 0px;  
    margin-bottom: 20px;
}
body.Noturno hr {
    background-color: var(--dasa-branco);
   
}

.campo-field {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0 10px 0; /* 20px acima, 10px abaixo */
}
body.Noturno .campo-field{
    color: var(--dasa-branco);
}


/* Desing responsivel */

@media (max-width: 600px) {
    body {
        padding: 20px 10px;
    }

    .container {
        padding: 20px 15px;
        box-shadow: none;
    }

    label {
        font-size: 14px;
    }

    input, textarea {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    #Limpar, #Gerar-PDF, #compartilhar {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }
    
}

@media print {
    .page-break {
        page-break-before: always;
    }

    body {
        overflow: visible !important;
    }

   
}

@media (max-width: 768px){
    .logoAndTitulo{
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .logoSonda{
        max-width: 100px;
        margin-bottom: 10px;
    }

    h1{
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .logoDasa{
        max-width: 90px;
        margin-top: 10px;
    }
    
}

