* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --dasa-azul-escuro: #000e40;
  --dasa-azul-claro: #a6e1ff;
  --dasa-vermelho: #ff4e33;
  --dasa-branco: #ffffff;
  --dasa-azul: #0037ff;
  --dasa-amarelo: #e5ff00;
  --dasa-bege: #d1b287;
}

body{
    background-color: var(--dasa-azul-claro);
}

/* Aqui estava o bug que deixava a tela pequena 
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;     
    min-height: 100vh;       
    background-color: #f5f5f5; 
} */

.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.logoAndTitulo {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  .logoSonda {
    max-width: 150px;
    height: auto;
  }
  
  h1 {
    font-size: 33px;
    margin: 0; 
    margin-top: 10px;
    text-align: center; 
    flex-grow: 1; /* Faz o título ocupar o espaço restante entre as logos */
  }
  
  .logoDasa {
    max-width: 140px;
    height: auto;
    margin-bottom: 20px;
  }

#form-rat {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

#Problema, #Realizada {
    height: 150px;  
    font-size: 16px;  
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}


.checkbox-tipo-atendimento,
.tipo-equipamento {
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.checkbox-tipo-atendimento label,
.tipo-equipamento label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    
}


#Assinatura {
    width: 100%;
    max-width: 700px; 
    height: 100px;
    border: 2px solid #ccc;  
    border-radius: 12px;     
    margin-top: 10px;         
    background-color: #f9f9f9; 
}

#Limpar {
    display: block;
    margin: 20px 0 10px;
    padding: 8px 30px;
    background-color: var(--dasa-azul);  
    color: white;               
    border: none;
    border-radius: 5px;        
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#Limpar:hover {
    background-color: var(--dasa-azul-escuro);
}

#Gerar-PDF {
    display: block;
    margin: 10px 0;
    padding: 8px 30px;
    background-color: #28a745; 
    color: white;               
    border: none;
    border-radius: 5px;         
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#Gerar-PDF:hover {
    background-color: #218838;
}

#compartilhar{
    display: block;
    margin: 10px 0;
    padding: 8px 30px;
    background-color: var(--dasa-azul);  
    color: white;               
    border: none;
    border-radius: 5px;         
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#compartilhar:hover{
    background-color: var(--dasa-azul-escuro);
}

.campo-colab{
    text-align: center; 
    font-weight: bold;  
    font-size: 16px;
}
hr{
    border: none;
    border-top: 1px solid #817f7f;
    margin: 20px 0px;  
    margin-bottom: 20px;
}

.campo-field {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0 10px 0; /* 20px acima, 10px abaixo */
}

hr {
    border: none;
    border-top: 1px solid #000000;
    margin: 10px 0 20px 0; 
}



/* Desing responsivel */

@media (max-width: 600px) {
    body {
        padding: 20px 10px;
    }

    .container {
        padding: 20px 15px;
        box-shadow: none;
    }

    label {
        font-size: 14px;
    }

    input, textarea {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    #Limpar, #Gerar-PDF, #compartilhar {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }
    
}

@media print {
    .page-break {
        page-break-before: always;
    }

    body {
        overflow: visible !important;
    }

    #conteudo-pdf {
        height: auto !important;
    }
}

@media (max-width: 768px){
    .logoAndTitulo{
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .logoSonda{
        max-width: 100px;
        margin-bottom: 10px;
    }

    h1{
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .logoDasa{
        max-width: 90px;
        margin-top: 10px;
    }
}

